.skills {
    padding: 2rem;

  
    .skill_content {
      display: flex;
      margin-top: 40px;
      color:#fc1111;
     
      gap: 2rem;
      h3{
        font-size: 20px;
      }
  
      .skill-content-wrapper {
       
        border-radius: 8px;
        padding: 1.5rem;
        
        transition: transform 0.3s ease; 
  
        &:hover {
          transform: translateY(-10px);
        
          
        }
  
        .skill-conten-label {
          font-size: larger;
          font-weight: bold;
          color: #fbf8f8;
          margin-bottom: 1rem;
          
        }
       
  
        .skills-content-name {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.5rem;
  
          p {
            margin: 0 0 0.5rem;
            font-size: 1rem;
            color: #efe7e7;
            justify-content:center;
            align-items: center;
            margin-left: -300px;
          }
  
          .rc-progress-line {
            width: 100%;
            height: 7px;
            border-radius: 4px;
         
          }
  
          .rc-progress-line-path {
            transition: stroke-dashoffset 0.5s ease;
          }
  
          .rc-progress-line-trail {
            stroke: #d6d6d6;
          }
        }
      }
    }
  }
  